@import "tailwindcss";



body {
  background-color: black;
  overflow-x: hidden;

  
}
body::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.overlay{
  background: linear-gradient(black,black,transparent,black,black);
  background-color: red;
}

.sky{
  color: #1E90FF;
}